@import "./breakpoints.scss";
@import "./fonts.scss";
@import "./color.scss";

$fast: 2s;
$slow: 12s;

.book-info-container {
    display: none;
    @include media(">tablet"){
        display: inline-block;
        //border: 2px solid red;
    }
    @include media(">=desktop"){
        display: inline-block;
    }
}

.book-info-title-container {
    margin: 64px 0px 0px 72px;
}

.book-info-title--styles {
    font-family: $fontheader;
    font-size: 24px;
    @include media(">=desktop") {
        font-size: 46px;
    }
    @include media(">=LGdesktop") {
        font-size: 46px;
    }
}

.author-info-title-container {
    margin: 16px 0px 16px 72px;
}

.author-info-title--styles {
    font-family: $fontmain;
    font-size: 18x;
    color: $secondary600;
    @include media(">=desktop") {
        font-size: 32px;
    }
    @include media(">=LGdesktop") {
        font-size: 32px;
    }
}

.summary-info-container {
    margin: 42px 0px 16px 72px;
}

.summary-info--styles {
    font-family: $fontmain;
    font-weight: 400;
    line-height: 1.4;
    @include media(">=desktop") {
        font-size: 18px;
    }
    @include media(">=LGdesktop") {
        font-size: 20px;
    }
}

.purchase-info-title-container {
    margin: 42px 0px 16px 72px;
}

.purchase-info-title--styles {
    font-family: $fontmain;
    font-size: 24px;
    @include media(">=desktop") {
        font-size: 32px;
    }
    @include media(">=LGdesktop") {
        font-size: 46px;
    }
}

.purchase-info-links-container {
    margin: 40px 0px 0px 72px;
    display: grid;
    grid-template-columns: repeat(3, 130px);
    justify-content: cneter;
    align-items: center;
    @include media("<tablet") {
        grid-template-columns: repeat(1, 130px);
        margin: 40px 0px 0px 0px;
    }

    @include media(">=desktop") {
        grid-template-columns: repeat(3, 200px);
        justify-content: cneter;
        align-items: center;
    }
}

.purchase-link-btn {
    text-align: center;
    width: 110px;
    padding: 2px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    @include media(">=LGdesktop") {
        width: 150px;
    }
 }


.purchase-link-btn--styles {
    font-family: $fontmain;
    font-size: 18px;
     border: 2px solid $primary500;
     transition: all 200ms ease-in-out;
     @include media(">=LGdesktop") {
         font-size: 24px;
     }
}

.purchase-link-btn--styles:hover {
    transition: all 200ms ease-in-out;
    color: white;
    background: $primary500;
}

.available-container {
    display: inline-block;
    width: 10px;
}

.place-link {
    display: inline-block;
    @include media("<tablet") {
        margin-bottom: 4px;
    }
}

.place-img {
        width: 120px;
        display: inline-block;
        @include media(">desktop") {
            width: 150px;
        }
    }