@import "./breakpoints.scss";
@import "./fonts.scss";
@import "./color.scss";

$fast: 2s;
$slow: 12s;

.book-info-container {
    display: none;
    @include media(">tablet"){
        display: inline-block;
        //border: 2px solid red;
    }
    @include media(">=desktop"){
        display: inline-block;
    }
}

.book-info-title-container {
    margin: 64px 0px 0px 72px;    
}

.book-info-title--styles {
    font-family: $fontheader;
    font-size: 24px;
}

.author-info-title-container {
    margin: 16px 0px 16px 72px;
}

.author-info-title--styles {
    font-family: $fontmain;
    font-size: 18x;
    color: $secondary600;
}

.summary-info-container {
    margin: 42px 0px 16px 72px;
}

.summary-info--styles {
    font-family: $fontmain;
    font-weight: 400;
    line-height: 1.4;
}

.purchase-info-title-container {
    margin: 42px 0px 16px 72px;
}

.purchase-info-title--styles {
    font-family: $fontmain;
    font-size: 24px;
}

.purchase-info-links-container {
    margin: 42px 0px 0px 72px;
}

.purchase-link-btn {
    text-align: center;
    width: 110px;
    padding: 2px;
    display: inline-block;
    position: relative;
    cursor: pointer;
 }


.purchase-link-btn--styles {
    font-family: $fontmain;
    font-size: 18px;
     border: 2px solid $primary500;
     transition: all 200ms ease-in-out;
}

.purchase-link-btn--styles:hover {
    transition: all 200ms ease-in-out;
    color: white;
    background: $primary500;
}