$primary200: #99ADFF;
$primary300: #6685FF;
$primary400: #335CFF;
$primary500: #0336FF;
$primary600: #00209E;
$primary700: #00156B;
$primary800: #000B38;
$secondary500: #F5D814;
$secondary600: #C9B110;
$secondary700: #625604;
$tetradic500: #FF0266;