@import "./fonts.scss";
@import "./color.scss";
@import "./breakpoints.scss";
@import "./shadows.scss";

.contact-container {
    width: 100%;
    height: 500px;

}

.contact-container--styles {
    background-color: $primary800;
}

.contact-title {
    padding-top: 24px;
    text-align: center;
}

.contact-title--styles {
    font-family: $fontheader;
    font-size: 32px;
    color: white;
}
