@import "./fonts.scss";
@import "./color.scss";
@import "./shadows.scss";
@import "./breakpoints.scss";
a {
    text-decoration: none;
}
.purchase-links-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
}

.purchase-btn {
    background-color: $primary500;
    border: none;
    margin: 8px;
    padding: 8px;
     @include media(">=tablet") {
        padding: 12px;
    }
    @include media(">=desktop") {
        padding: 16px;
    }
    @include media(">=LGdesktop") {
        padding: 16px;
    }
}

.purchase-btn--styles {
    border-radius: 8px;
}

.purchase-link--styles {
    color: white;
    font-family: $fontmain;
    font-size: 16px;
    @include media(">=tablet") {
        font-size: 24px;
    }
    @include media(">=desktop") {
        font-size: 32px;
    }
    @include media(">=LGdesktop") {
        font-size: 36px;
    }
}